*{
    margin: 0;
    padding: 0;

}
body{ 
    background-color: rgb(233, 58, 145);
}
h2{
    text-align: center;
    margin: 20px;
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;

}
#mydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;background-color: aqua;
    margin: 157px 20px 20px 20px;
    border:none;
    border-radius: 8px;
    box-shadow: 5px 5px 3px rgb(119, 128, 206);
}
#myp{
    font-family: monospace;
    font-size: large;
}
button{
    padding: 10px;
    background-color: pink ;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    font-family: monospace;
    font-size: larger;
    cursor: pointer;
    box-shadow: 5px 5px 3px rgb(119, 128, 206);
    transition: .3s ease;

}
button:hover{
    background-color: rgb(86, 142, 247);
    border: none;
    color: whitesmoke;

}
.btnclass{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#div2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;background-color: aqua;
    margin: 200px 20px 20px 20px;
    border:none;
    border-radius: 8px;
    box-shadow: 5px 5px 3px rgb(119, 128, 206);
}

h3{
    font-family: monospace;
    font-size: large;
    font: 200;
}